body {
  font-family: 'Arial', sans-serif; 
  background-color: #ffff00;
  margin-right: 16px; /* Añadida la unidad px */
  font-size: smaller;
}

header {
  color: black; /* Cambiado a negro para contraste */
  height: 80px;
  text-align: center; /* Centrar el texto dentro del header */
  background-color: #ffff00; /* Asegurarse de que el fondo también sea amarillo */
  line-height: 80px; /* Centrar verticalmente el texto */
}

img {
  width: 30%; /* Redimensionar imágenes para que ocupen un 30% del contenedor */
  padding: 10px; /* Reducir padding a 10px para un mejor diseño */
  background-color: brown;
  margin: 10px; /* Añadido margen para separación */
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffff00; /* Fondo amarillo para nav */
  padding: 10px 0; /* Espaciado vertical para nav */
}

nav ul {
  display: flex;
  justify-content: space-around; 
  list-style: none; 
  padding: 0; 
  width: 100%; /* Asegurar que el ul ocupe el 100% del nav */
  margin: 0; /* Eliminar el margen por defecto */
}

nav ul li {
  margin-right: 20px;
  background-color: yellow;
  padding: 10px; /* Añadir padding para mejor interactividad */
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black; /* Color negro para el texto para mejor contraste */
  padding: 5px 10px; /* Padding adicional para enlaces */
  border-radius: 5px; /* Bordes redondeados para enlaces */
  transition: background-color 0.3s ease; /* Transición suave para hover */
}

nav ul li a:hover {
  background-color: brown; /* Cambio de color en hover para interactividad */
  color: #ffff00; /* Color de texto amarillo en hover */
}
#header_img {
  height: 200px;
  width: 200px;
}